html, body {
  height: 100%;
  font-family: "Press Start 2P", cursive;
}

body {
  background-color: black;

  display: flex;
  justify-content: center;
  align-items: center;
}

#viewport {
  width: 640px;
  height: 256px;
  position: relative;
  background-image: url('../images/water0.png');
  overflow-x: auto;
}

#ports {
  width: 0px;
  margin-top: 96px;
  display: flex;
  justify-content: space-around;
}

#ports > .port {
  width: 64px;
  height: 32px;
  background-image: url("../images/port.png");
}

#ship {
  width: 128px;
  height: 64px;
  background-image: url("../images/ship.png");
  position: absolute;
}

#sailbutton {
  border: 0;
  background-color: #fb3640;
  border-bottom: 4px solid #d8040f;
  color: white;
  font-family: inherit;
  padding: 10px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

#sailbutton:active {
  background-color: #d8040f;
  border-bottom-width: 0;
  padding-top: 14px;
}

#message {
  background-color: white;
  border-top: 3px solid black;
  color: black;
  padding: 16px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#hud {
  background-color: black;
  color: white;
  position: absolute;
  top: 16px;
  right: 16px;
  text-align: right;
}

#hud > div {
  margin-bottom: 10px;
}
